<ion-view view-title="Carrito">
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-text-wrap" ng-repeat="producto in productos| orderBy:'nombre' ">
                <div class="row">
                    <div class="col">
                        <img ng-src="{{producto.thumbnail}}">
                    </div>
                    <div class="col">
                        <h2>{{producto.name}}</h2>
                        <p>
                            {{producto.categoria.name}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ion-toggle toggle-class="toggle-calm">¿Obtener este producto periodicamente?</ion-toggle>
                    </div>
                </div>
                <div class="row" ng-show="producto.require_receta">
                    <div class="col">
                        Este producto require receta médica.
                        El repartidor le solicitara y se quedara con la receta.
                    </div>
                </div>
                <div class="row">
                    <div class="col col-50">
                        <select ng-change="mostrarTotal()" ng-model="producto.cantidad">
                            <option selected>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col">
                        <span class="badge badge-assertive" ng-show="producto.descuento_dinero">{{producto.descuento_dinero|currency:"$"}}</span>
                        <span class="badge badge-assertive"ng-show="producto.descuento_porcentaje">{{producto.descuento_porcentaje}}</span>
                        <span class="badge badge-assertive" ng-show="producto.descuento_promocion">{{producto.descuento_promocion}}</span>
                    </div>
                    <div class="col">
                        <button class="button button-small button-balanced">{{producto.precio * producto.cantidad|currency:"$"}}</button>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col">
                        Total: 
                    </div>
                    <div class="col">
                        {{total|currency:"$"}}
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <a href="#/app/pedido" class="button button-block button-balanced">Hacer pedido</a>
        <a href="#/app/categorias" class="button button-block button-balanced button-clear">Seguir comprando</a>
    </ion-content>
</ion-view>