<ion-view view-title="Categorías">
    <ion-content class="padding">
        <p class="text-center">
            Escribe el nombre del producto o sustancia activa.
        </p>
        <form ng-submit="doBuscar()" style="border: none;">
            <div class="list">
                <label class="item item-input">
                    <input type="text" ng-model="buscar.producto" id="buscar" placeholder="Ej. Paracetamol">
                </label>
                <label class="item">
                    <button class="button button-block button-balanced" type="submit">
                        <i class="icon ion-search"></i>	Buscar
                    </button>
                </label>
            </div>
        </form>
        <p class="text-center">
            -o- <br/>
            Selecciona una Categoría:
        </p>
        <ion-list>
            <ion-item class="item-avatar item-balanced" ng-repeat="categoria in categorias" href="#/app/productos/{{categoria.id}}">
                <img ng-src="{{categoria.image}}" style="width: 60px; height: 60px;" />
                <h2 style="color: white;">{{categoria.name}}</h2>
            </ion-item>
        </ion-list>
    </ion-content>    
</ion-view>
