<ion-view view-title="Contacto">
  <ion-content class="has-header padding">
    <form ng-submit="doContacto()">
      <div class="list">
        <!--label class="item item-input">
          <input type="text" ng-model="contactoData.name" placeholder="Nombre">
        </label>
        <label class="item item-input">
          <input type="text" ng-model="contactoData.email" placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="text" ng-model="contactoData.phone" placeholder="Telefono o Movil">
        </label>
        <label class="item item-input">
          <input type="text" ng-model="contactoData.subject" placeholder="Asunto">
        </label-->
        <label class="item item-input">
            <textarea ng-model="contactoData.message" placeholder="Mensaje" style="width: 98%; height: 100px;border: 2px solid #2EC7C7; padding: 5px;"></textarea>
        </label>
        <label class="item">
          <button class="button button-block button-balanced" type="submit">Enviar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>

