<ion-view cache-view="false" view-title="{{title}}">
    <ion-header-bar class="bar-stable">
        <h1 class="title">{{title}}</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModalRecordatorio()">
                <i class="icon ion-close-round"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" ng-model="recordatorio.title" value="" placeholder="Nombre del recordatorio">
            </label>
            <!--label class="item item-input">
                <input type="text" ng-model="recordatorio.message" value="" placeholder="Descripcion del recordatorio">
            </label-->
            <div class="item">
                <p>Hora del recordatorio:</p>
            </div>
            <label class="item item-input item-select">
                <div class="input-label">
                    Hora
                </div>
                <select ng-change="changeTime()" ng-model="recordatorio.tiempo.hora" ng-options="hora for hora in ['00', '01', '02', '03','04', '05', '06', '07','08', '09', '10', '11', '12','13','14','15','16','17','18','19','20','21','22','23']">
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Minutos
                </div>
                <select ng-change="changeTime()" ng-model="recordatorio.tiempo.minutos" ng-options="minutos for minutos in ['00', '05', '10', '15','20', '25', '30', '35','40', '45','50','55']">
                </select>
            </label>
            <!--label class="item item-input item-select">
                <div class="input-label">
                    Horario
                </div>
                <select  ng-change="changeTime()" ng-model="recordatorio.tiempo.horario" ng-options="horario for horario in ['am', 'pm']">
                </select>
            </label-->
            <label class="item item-input item-select">
                <div class="input-label">
                    Repetir
                </div>
                <select ng-model="seleccion.repetir" ng-options="dato for dato in ['Todos los dias', 'Sabado y Domingo', 'Lunes a Viernes', 'Personalizar']">
                </select>
            </label>
            <div class="item item-checkbox" ng-show="seleccion.repetir==='Personalizar'">
                <label class="checkbox">
                    <input type="checkbox" ng-model="recordatorio.monday">
                </label>
                Lunes
            </div>
            <div class="item item-checkbox" ng-show="seleccion.repetir==='Personalizar'">
                <label class="checkbox">
                    <input type="checkbox" ng-model="recordatorio.tuesday">
                </label>
                Martes
            </div>
            <div class="item item-checkbox" ng-show="seleccion.repetir==='Personalizar'">
                <label class="checkbox">
                    <input type="checkbox" ng-model="recordatorio.wednesday">
                </label>
                Miercoles
            </div>
            <div class="item item-checkbox" ng-show="seleccion.repetir==='Personalizar'">
                <label class="checkbox">
                    <input type="checkbox" ng-model="recordatorio.thursday">
                </label>
                Jueves
            </div>
            <div class="item item-checkbox" ng-show="seleccion.repetir=='Personalizar'">
                <label class="checkbox">
                    <input type="checkbox" ng-model="recordatorio.friday">
                </label>
                Viernes
            </div>
            <div class="item item-checkbox" ng-show="seleccion.repetir==='Personalizar'">
                <label class="checkbox">
                    <input type="checkbox" ng-model="recordatorio.saturday">
                </label>
                Sabado
            </div>
            <div class="item item-checkbox" ng-show="seleccion.repetir==='Personalizar'">
                <label class="checkbox">
                    <input type="checkbox" ng-model="recordatorio.sunday">
                </label>
                Domingo
            </div>
            <label class="item">
                <button class="button button-block button-balanced" ng-click="add()">Guardar</button>
            </label>
        </div>
    </ion-content>
</ion-view>
