<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Agregar imagen</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="hideInapamModal()">
                <i class="icon ion-close-round"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content padding="true">
        <button class="button button-block button-energized" ng-click="addImage(0)"
                ng-show="inapam.length==0">
            Tomar una foto
        </button>
        <button class="button button-block button-balanced" ng-click="addImage(1)"
                ng-show="inapam.length==0">
            Agregar de galeria
        </button><br><br>
        <ion-scroll>
            <div class="card" ng-repeat="image in inapam">
                <div class="item item-text-wrap">
                    <img ng-src="{{urlForImage(image)}}"
                         style="height:200px; padding: 5px 5px 5px 5px;"/>
                </div>
                <a class="item item-icon-left assertive" href="#" ng-click="removeImage(image)">
                    <i class="icon ion-trash-a"></i>
                    Eliminar
                </a>
            </div>
        </ion-scroll>
    </ion-content>
    <ion-footer-bar class="bar-stable">
        <button class="button button-block button-balanced" style="margin: 0px;"
                ng-disabled="inapam.length==0" ng-click="confirmarFotoInapam()">Guardar</button>
    </ion-footer-bar>
</ion-modal-view>