<ion-view hide-nav-bar="!user.first_name" view-title="Inicio">
  <ion-content class="padding fondo-verde" style="padding-top: 7%;">
    <div class="button-bar">
	  <a class="button" href="#/login">Inicia sesión</a>
	  <a class="button" href="#/registro">Registrarse</a>
	</div>
	<figure class="img-logo center">
		<img src="img/Logo.png"/>
	</figure>
	<hgroup class="center">
		<h1 class="titulo-app text-white">Gracias por utilizar FARMAAPP</h1>
		<h3 class="slogan-app text-white">Tu farmacia en tus manos.</h3>
	</hgroup>
	<p class="texto-bienvenida center" ng-show="!user.first_name">
		Texto de bienvenida.
	</p>
	<p class="texto-bienvenida center" ng-show="user.first_name">
		Bienvenido(a) {{user.first_name}} {{ user.last_name}}.
	</p>
	<p class="iconos-inicio center">
            <i class="icon ion-iphone"></i> 
            <i class="icon ion-chevron-right icon-mini"></i> 
            <i class="icon ion-android-bicycle"></i> 
            <i class="icon ion-chevron-right icon-mini"></i> <i class="icon ion-home"></i>
	</p>
  </ion-content>
</ion-view>