<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Ubicacion en mapa</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeMapa()">
        <i class="icon ion-close-round"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" name="direccionBuscar" id="direccionBuscar" placeholder="Ingresa la direccion">
        </label>
        <button class="button button-small" ng-click="buscarDireccion()">
          Buscar
        </button>
      </div>
    </div>
    <div id="mapa"></div>
  </ion-content>
</ion-modal-view>