<ion-view view-title="Notas/Observaciones">
    <ion-content class="has-header">
        <form id="formNotas" ng-submit="doNotas()">
            <div class="list" style="margin-bottom: 5px;">
                <label class="item item-input">
                    <textarea ng-model="pedido.notes" style="width: 100%; height: 100px;border: 2px solid #2EC7C7; padding: 10px;"></textarea>
                </label>
                <label class="item">
                    <button class="button button-block button-balanced" type="submit">Siguiente</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>