<ion-view cache-view="false" view-title="Recordatorios">
    <ion-content class="has-header padding">
        <a class="button button-full button-balanced" href="#/app/add/notificacion">
            Agregar recordatorio
        </a>
        <div class="list">
            <div class="item item-toggle" ng-repeat="notificacion in notificaciones">
                <h2>{{notificacion.tiempo.hora}} : {{notificacion.tiempo.minutos}} {{notificacion.tiempo.horario}}</h2>
                <p>{{notificacion.intervalo}}</p>
                <label class="toggle toggle-assertive">
                    <input type="checkbox" ng-model="notificacion.autoCancel">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>
