<ion-view view-title="Pago">
    <ion-content class="has-header">
        <form id="formRegister" ng-submit="doPago()">
            <div class="list">
                <label class="item item-input">
                    <input type="text" name="name" ng-model="tarjeta.card.name" placeholder="Nombre de cliente">
                </label>
                <label class="item item-input">
                    <input type="text" name="number" ng-model="tarjeta.card.number" placeholder="Numero de tarjeta">
                </label>
                <div class="row">
                    <div class="col">
                        <label class="item item-input">
                            <input type="text" name="exp_month" ng-model="tarjeta.card.exp_month" placeholder="MM" maxlength="2" style="text-align: center;">
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input" style="border: none;">
                            <input type="text" value="/" disabled="disabled" style="background: transparent!important; text-align: center;">
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input">
                            <input type="text" name="exp_year" ng-model="tarjeta.card.exp_year" placeholder="AAAA" maxlength="4" style="text-align: center;">
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input">
                            <input type="text" name="cvc" ng-model="tarjeta.card.cvc" placeholder="CVC" maxlength="3" style="text-align: center;">
                        </label>
                    </div>
                </div>
                <label class="item">
                    <button class="button button-block button-balanced" type="submit">Hacer Pedido</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>