<ion-view view-title="Pago">
    <ion-content class="has-header">
        <form id="formRegister" ng-submit="doPago()">
            <div class="list">
                <label class="item item-input">
                    <input type="text" name="tarjeta" ng-model="pago.tarjeta" placeholder="Numero de tarjeta">
                </label>
                <div class="row">
                    <div class="col">
                        <label class="item item-input">
                            <input type="text" name="mes" ng-model="pago.mes" placeholder="MM" maxlength="2">
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input" style="border: none;">
                            <input type="text" name="ano" value="/" disabled="disabled" style="background: transparent!important;">
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input">
                            <input type="text" name="ano" ng-model="pago.ano" placeholder="AA" maxlength="2">
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input">
                            <input type="text" name="cvv" ng-model="pago.cvv" placeholder="CVV" maxlength="3">
                        </label>
                    </div>
                </div>
                <label class="item">
                    <button class="button button-block button-balanced" type="submit">Hacer Pedido</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>