<ion-view view-title="Pago">
    <ion-content class="has-header">
        <div class="row" ng-show="hasProductsWithRecipe">
            <div class="col balanced-bg text-center" style="color: white;">1</div>
            <div class="col balanced-bg text-center" style="color: white;">2</div>
            <div class="col balanced-bg text-center" style="color: white;">3</div>
            <div class="col balanced-bg text-center" style="color: white;">4</div>
        </div>
        <div class="row" ng-show="!hasProductsWithRecipe">
            <div class="col balanced-bg text-center" style="color: white;">1</div>
            <div class="col balanced-bg text-center" style="color: white;">2</div>
            <div class="col balanced-bg text-center" style="color: white;">3</div>
        </div>
        <ion-list>
          <ion-radio ng-model="seleccion.numero" ng-value="card.id"
          ng-repeat="card in tarjetas">
              
            <img src="img/ico_mastercard.jpg" ng-if="card.brand=='mastercard'" />
            <img src="img/ico_visa.jpg" ng-if="card.brand=='visa'" />
            <img src="img/tarjeta-american-express-icono-8441-48.png" ng-if="card.brand=='AMEX'"/>
            **** **** **** {{card.last4}}
          </ion-radio>
          <ion-radio ng-model="seleccion.numero" ng-value="0">
            Nueva
          </ion-radio>

        </ion-list>
        <p class="padding text-center">
        <button ng-show="seleccion.numero!=0" class="button button-block button-balanced" ng-click="doPago()">Hacer Pedido</button>
        </p>
        <form ng-show="seleccion.numero==0" id="formRegister" ng-submit="doPago()">
            <div class="list">
                <label class="item item-input">
                    <input type="text" name="name" ng-model="tarjeta.card.name" placeholder="Nombre de cliente">
                </label>
                <label class="item item-input">
                    <input type="text" name="number" ng-model="tarjeta.card.number" placeholder="Numero de tarjeta">
                </label>
                <div class="row">
                    <div class="col">
                        <label class="item item-input">
                            <input type="text" name="exp_month" ng-model="tarjeta.card.exp_month" placeholder="MM" maxlength="2" style="text-align: center;">
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input" style="border: none;">
                            <input type="text" value="/" disabled="disabled" style="background: transparent!important; text-align: center;">
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input">
                            <input type="text" name="exp_year" ng-model="tarjeta.card.exp_year" placeholder="AAAA" maxlength="4" style="text-align: center;">
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input">
                            <input type="text" name="cvc" ng-model="tarjeta.card.cvc" placeholder="CVC" maxlength="3" style="text-align: center;">
                        </label>
                    </div>
                </div>
                <label class="item">
                    <button class="button button-block button-balanced" type="submit">Hacer Pedido</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
