<ion-view cache-view="false" view-title="Pedidos Periodicos">
    <ion-content>
        <ion-list>
            <ion-item class="item-text-wrap" ng-repeat="producto in productos| orderBy:'name' " style="padding: 10px 2px;">
                <div class="list card" style="padding: .2em;">
                    <div class="item item-thumbnail-left">
                        <img ng-src="{{producto.thumbnail}}" ng-class="{ 'require-receta': producto.require_receta, 'no-require-receta':!producto.require_receta }">
                        <h2>{{producto.name}}</h2>
                        <p class="ion-item-categoria">
                            {{producto.categoria.name}}
                        </p>
                        <i class="icon ion-close-round" ng-click="removeProducto(producto)" style="position: absolute; top: 2px; right: 2px; font-size: 1.5em;"></i>
                    </div>
                    <div class="item item-text-wrap">
                        <div class="row padding-top" ng-show="producto.periodico.pedido">
                            <div class="col padding-top">
                                <label class="font-small">{{producto.periodico.periocidad | uppercase}}</label>
                            </div>                        
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col col-50">
                                <div class="list padding-top">
                                    <label class="item item-input item-select item-select-cantidad" style="border: none;">
                                        <div class="input-label periodo-sm">
                                            &nbsp;
                                        </div>
                                        <select style="height: 50px;" ng-model="producto.periodico.periodo" class="producto-cantidad">
                                            <option value="dia">Dia</option>
                                            <option value="semanal">Semanal</option>
                                            <option value="mensual">Mensual</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col col-50 text-right">
                                <div class="list padding-top">
                                    <label class="item item-input item-select item-select-cantidad" style="border: none;">
                                        <div class="input-label hideme-sm">
                                            &nbsp;
                                        </div>
                                        <select style="height: 50px;" ng-model="producto.cantidad" class="producto-cantidad">
                                            <option selected>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item item-text-wrap">
                        <div class="row border-bottom border-top padding-top" ng-show="producto.require_receta">
                            <div class="col text-center">
                                <label class="require-receta font-small">Este producto require receta médica.</label><br/>
                                <label class="assertive font-small">El repartidor le solicitara y se quedara con la receta.</label>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <a href="#/app/categorias" class="button button-block button-balanced">Seguir comprando</a>
    </ion-content>
</ion-view>