<ion-view view-title="Pedido">
    <ion-content class="has-header">
        <div class="list" ng-if="direcciones.length > 0">
            <label class="item item-input item-select">
                <div class="input-label">
                    Direccion guardada
                </div>
                <select ng-change="recuperarDireccion()" ng-model="direccionSeleccionada" id="recuperar-direccion">
                    <option selected value="">Nueva...</option>
                    <option ng-repeat="direccion in direcciones" value="{{direccion.street}}">{{direccion.street}}</option>
                </select>
            </label>
            <div class="item item-button-right"  ng-show="!mostrarMapa">
                Buscar en mapa
                <button class="button button-balanced" ng-click="showMapa()">
                    <i class="icon ion-map"></i>
                </button>
            </div>
            <div class="item item-button-right"  ng-show="mostrarMapa">
                Ocultar mapa
                <button class="button button-balanced" ng-click="hideMapa()">
                    <i class="icon ion-map"></i>
                </button>
            </div>
        </div>
        <div class="formMapa padding" ng-show="mostrarMapa">
            <div class="list">
                <div class="list list-inset">
                    <label class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input id="direccionBuscar" type="text" placeholder="Lugar o direccion" ng-keypress="buscarDireccionKeyPress($event)">
                    </label>
                </div>
            </div>
            <div id="mapa" data-tab-disabled="true"></div>
        </div>
        <form id="formDireccion" ng-submit="doDireccion()">
            <div class="list">
                <label class="item item-input">
                    <input type="text" name="estado" ng-model="direccionGuardada.location" placeholder="Estado">
                </label>
                <label class="item item-input">
                    <input type="text" name="calle" ng-model="direccionGuardada.street" placeholder="Calle">
                </label>
                <div class="row">
                    <div class="col">
                        <label class="item item-input">
                            <input type="text" name="exterior_number" ng-model="direccionGuardada.exterior_number" placeholder="Num. Exterior">
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input">
                            <input type="text" name="interior_number" ng-model="direccionGuardada.interior_number" placeholder="Num. Interior">
                        </label>
                    </div>
                </div>
                <label class="item item-input">
                    <input type="text" name="postal_code" ng-model="direccionGuardada.postal_code" placeholder="Codigo postal">
                </label>
                <label class="item item-input">
                    <input type="text" name="delegation_municipaly" ng-model="direccionGuardada.delegation_municipaly" placeholder="Delegacion/Municipio">
                </label>
                <label class="item item-input">
                    <input type="text" name="colony" ng-model="direccionGuardada.colony" placeholder="Colonia">
                </label>
                <label class="item">
                    <button class="button button-block button-balanced" type="submit">Seleccionar direccion</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>