<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Pedido exitoso</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closePedidoRealizado()">
                <i class="icon ion-close-round"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <p class="text-center">
            <br/>
            Gracias {{user.first_name}} {{user.last_name}}
            <br/>
            <br/>
            Tu orden (#{{venta.id}}) está siendo procesada<br/>
             te notificaremos en cuanto sea enviada.<br/>
            <i class="icon ion-android-happy" style="font-size: 6em;"></i>
        </p>
        <p class="text-center">
            <h3 class="text-center">Envianos tu opinión</h3>
            <div class="text-center">
                <a href="javascript:" ng-repeat="r in ratingArr"
                   class="padding" style="text-decoration:none;">
                    <i style="font-size: 32px;" class="icon balanced {{r.icon}}" ng-click="setRating(r.value)"></i>
                </a>
            </div>
            <div class="balanced padding">
                <textarea ng-model="ranking.comentario" style="width: 100%; height: 100px;border: 2px solid #2EC7C7; padding: 10px;"></textarea>
            </div>
        </p>
    </ion-content>
    <ion-footer-bar style="position: absolute; bottom: 30px;">
        <button style="font-size: 1.5em; height: 3em; " class="button button-block button-balanced"
                ng-click="closePedidoRealizado()" ng-show="ranking.calificacion == 0">
            Cerrar
        </button>
        <button style="font-size: 1.5em; height: 3em; " class="button button-block button-balanced"
                ng-click="closePedidoRealizado()" ng-show="ranking.calificacion > 0">
            Enviar calificación y comentario
        </button>
    </ion-footer-bar>
</ion-modal-view>