<ion-view view-title="Pedido">
    <ion-content class="has-header" padding="true">
        <div class="row" ng-show="hasProductsWithRecipe">
            <div class="col balanced-bg text-center" style="color: white;">1</div>
            <div class="col text-center">2</div>
            <div class="col text-center">3</div>
            <div class="col text-center">4</div>
        </div>
        <div class="row" ng-show="!hasProductsWithRecipe">
            <div class="col balanced-bg text-center" style="color: white;">1</div>
            <div class="col text-center">2</div>
            <div class="col text-center">3</div>
        </div>
        <p class="text-center">
            Ingresa tu dirección
        </p>
        <button class="button button-block button-balanced icon-right ion-location" ng-click="showModalMap()">
            Buscar en mapa
        </button>
        <div class="list" style="margin-bottom: 5px;">
            <label class="item item-input item-select" ng-if="direcciones.length > 0">
                <div class="input-label">
                    Utilizar dirección guardada:
                </div>
                <select ng-model="direccionSeleccionada.id" id="recuperar-direccion">
                    <option selected value="0">Nueva...</option>
                    <option ng-repeat="direccion in direcciones" value="{{direccion.id}}">{{direccion.street}}</option>
                </select>
            </label>
        </div>
        <p class="text-center">
            O ingresa tu dirección
        </p>
        <form id="formDireccion" ng-submit="doDireccion()">
            <div class="list" style="margin-bottom: 5px;">
                <label class="item item-input">
                    <input type="text" name="estado" ng-model="direccionGuardada.location" placeholder="Estado">
                </label>
                <label class="item item-input">
                    <input type="text" name="calle" ng-model="direccionGuardada.street" placeholder="Calle">
                </label>
                <div class="row">
                    <div class="col">
                        <label class="item item-input">
                            <input type="text" name="num_exterior" ng-model="direccionGuardada.exterior_number" placeholder="Num. Exterior">
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input">
                            <input type="text" name="num_interior" ng-model="direccionGuardada.interior_number" placeholder="Num. Interior">
                        </label>
                    </div>
                </div>
                <label class="item item-input">
                    <input type="text" name="codigo_postal" ng-model="direccionGuardada.postal_code" placeholder="Codigo postal">
                </label>
                <label class="item item-input">
                    <input type="text" name="delegacion_municipio" ng-model="direccionGuardada.delegation_municipaly" placeholder="Delegacion/Municipio">
                </label>
                <label class="item item-input" ng-show="colonias.length==0">
                    <input type="text" name="colonia" ng-model="direccionGuardada.colony" placeholder="Colonia">
                </label>
                <label class="item item-input item-select"  ng-if="colonias.length>1">
                    <div class="input-label">
                        Colonia
                    </div>
                    <select ng-model="direccionGuardada.colony"  ng-options="colonia for colonia in colonias">
                    </select>
                </label>
                <label class="item">
                    <button class="button button-block button-balanced" type="submit">Continuar</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>