<ion-view cache-view="false" view-title="Pedidos Periodicos">
    <ion-content>
        <ion-list>
            <ion-item class="item-text-wrap" ng-repeat="pedido in pedidos| orderBy:'pedido.id' " style="padding: 10px 2px;">
                <div class="list card" style="padding: .2em;">
                    <div class="item item-thumbnail-left">
                        <img ng-src="{{pedido.product.image}}" ng-class="{ 'no-require-receta': pedido.product.recipe == 1, 'require-show-receta': pedido.product.recipe==2,  'require-receta': pedido.product.recipe==3}">
                        <h2>{{pedido.product.name}}</h2>
                        <p class="ion-item-categoria">
                            {{pedido.product.category.name}}
                        </p>
                        <i class="icon ion-close-round" ng-click="removePedido(pedido)" style="position: absolute; top: 2px; right: 2px; font-size: 1.5em;"></i>
                    </div>
                    <div class="item item-text-wrap">
                        <div class="row padding-top">
                            <div class="col padding-top">
                                <label class="font-small">{{pedido.period | uppercase}}</label>
                            </div>                        
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col col-33">
                                ¿Cuantas unidades quieres?
                            </div>
                            <div class="col">
                                <button ng-click="pedido.quantity=pedido.quantity-1;cambioPedido(pedido)"
                                        ng-disabled="pedido.quantity==1"
                                        class="button button-clear button-block button-balanced"
                                        style="margin: 0px;">
                                    <i class="icon ion-minus-circled"></i>
                                </button>

                            </div>
                            <div class="col">
                                <input type="text" ng-model="pedido.quantity"
                                       style="width: 100%; border: 1px solid black; text-align:center; margin-top: 5px;"
                                       readonly="readonly">
                            </div>
                            <div class="col">
                                <button ng-click="pedido.quantity=pedido.quantity+1;cambioPedido(pedido)"
                                        class="button button-clear button-block button-balanced"
                                        style="margin: 0px;">
                                    <i class="icon ion-plus-circled"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div clas="col">
                                ¿Cada cuando te lo enviamos?
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="list">
                            <label class="item item-radio">
                                <input ng-model="pedido.period" type="radio" name="period" ng-value=" 'por dia' ">
                                <div class="item-content">Dias</div>
                                <i class="radio-icon ion-checkmark"></i>
                            </label>
                            <label class="item item-radio">
                                <input ng-model="pedido.period" type="radio" name="period" ng-value=" 'semanal' ">
                                <div class="item-content">Semanal</div>
                                <i class="radio-icon ion-checkmark"></i>
                            </label>
                            <label class="item item-radio">
                                <input ng-model="pedido.period" type="radio" name="period" ng-value=" 'mensual' ">
                                <div class="item-content">Mensual</div>
                                <i class="radio-icon ion-checkmark"></i>
                            </label>
                        </div>
                    </div>
                    <div class="item item-input item-select" ng-if="pedido.period == 'por dia'">
                        <div class="input-label">
                            Cada cuantos dias?
                        </div>
                        <select ng-model="pedido.days" ng-change="cambioPedido(pedido)">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col col-33">
                                Repetir
                            </div>
                            <div class="col">
                                <button ng-click="pedido.times=pedido.times-1;cambioPedido(pedido)"
                                        ng-disabled="pedido.times==1"
                                        class="button button-clear button-block button-balanced"
                                        style="margin: 0px;">
                                    <i class="icon ion-minus-circled"></i>
                                </button>
                            </div>
                            <div class="col">
                                <input type="text" ng-model="pedido.times"
                                       style="width: 100%; border: 1px solid black; text-align:center; margin-top: 5px;"
                                       readonly="readonly">
                            </div>
                            <div class="col">
                                <button ng-click="pedido.times=pedido.times+1;cambioPedido(pedido)"
                                        class="button button-clear button-block button-balanced"
                                        style="margin: 0px;">
                                    <i class="icon ion-plus-circled"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="item item-text-wrap">
                        <div class="row border-bottom border-top padding-top" ng-show="pedido.product.recipe > 1">
                            <div class="col text-center">
                                <label class="require-receta font-small">Este producto require receta médica.</label><br/>
                                <label class="assertive font-small" ng-show="pedido.product.recipe == 3">1.- El repartidor te pedira y se quedara con la receta.</label><br/>
                                <label class="assertive font-small" ng-show="pedido.product.recipe == 2">2.- El repartidor te pedira que le muestres la receta.</label>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <a href="#/app/categorias" class="button button-block button-balanced">Seguir comprando</a>
    </ion-content>
</ion-view>