<ion-view view-title="Pedido">
    <ion-content class="has-header">
        <div class="list" ng-if="userData.direcciones.length > 0">
            <label class="item item-input item-select">
                <div class="input-label">
                    Direccion guardada
                </div>
                <select ng-change="recuperarDireccion()" ng-model="direccionSeleccionada" id="recuperar-direccion">
                    <option selected value="">Nueva...</option>
                    <option ng-repeat="direccion in userData.direcciones" value="{{direccion.calle}}">{{direccion.calle}}</option>
                </select>
            </label>
        </div>
        <form id="formDireccion" ng-submit="doDireccion()">
            <div class="list">
                <label class="item item-input">
                    <input type="text" name="estado" ng-model="direccionGuardada.localidad" placeholder="Estado">
                </label>
                <label class="item item-input">
                    <input type="text" name="calle" ng-model="direccionGuardada.calle" placeholder="Calle">
                </label>
                <div class="row">
                    <div class="col">
                        <label class="item item-input">
                            <input type="text" name="num_exterior" ng-model="direccionGuardada.num_exterior" placeholder="Num. Exterior">
                        </label>
                    </div>
                    <div class="col">
                        <label class="item item-input">
                            <input type="text" name="num_interior" ng-model="direccionGuardada.num_interior" placeholder="Num. Interior">
                        </label>
                    </div>
                </div>
                <label class="item item-input">
                    <input type="text" name="codigo_postal" ng-model="direccionGuardada.codigo_postal" placeholder="Codigo postal">
                </label>
                <label class="item item-input">
                    <input type="text" name="delegacion_municipio" ng-model="direccionGuardada.delegacion_municipio" placeholder="Delegacion/Municipio">
                </label>
                <label class="item item-input">
                    <input type="text" name="colonia" ng-model="direccionGuardada.colonia" placeholder="Colonia">
                </label>
                <label class="item">
                    <button class="button button-block button-balanced" type="submit">Guardar direccion</button>
                </label>
                <label class="item" ng-show="!mostrarMapa">
                    <button class="button button-block button-clear" ng-click="showMapa()">Buscar en mapa ubicacion</button>
                </label>
            </div>
        </form>
        <div class="formMapa" ng-show="mostrarMapa">
            <div class="list">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" name="direccionBuscar" id="direccionBuscar" placeholder="Ingresa la direccion">
                    </label>
                    <button class="button button-small" ng-click="buscarDireccion()">
                        Buscar
                    </button>
                </div>
            </div>
            <div id="mapa">
            </div>
        </div>
    </ion-content>
</ion-view>