<ion-view cache-view="false" title="Mi cuenta">

    <ion-tabs tabs-type="tabs-icon-only" class="tabs-striped tabs-bottom tabs-background-balanced tabs-color-light">

        <ion-tab title="Perfil" icon-on="ion-person" icon-off="ion-person">
            <ion-content has-header="true" padding="true" style="margin-top: {{marginTop}}">
                <form id="formRegister" ng-submit="doRegister()">
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" name="nombre" ng-model="userData.first_name" placeholder="Nombre">
                        </label>
                        <label class="item item-input">
                            <input type="text" name="apellido" ng-model="userData.last_name" placeholder="Apellido">
                        </label>
                        <label class="item item-input">
                            <input type="email" name="email" ng-model="userData.email" placeholder="Email" ng-disabled="true">
                        </label>
                        <label class="item item-input">
                            <input type="tel" name="celular" ng-model="userData.cell" placeholder="Celular">
                        </label>
                        <div class="item">
                            <ion-toggle ng-model="userData.inapam" style="border: none; font-size: .9em;" toggle-class="toggle-calm">INAPAM</ion-toggle>
                        </div>
                        <label class="item">
                            <button class="button button-block button-balanced" type="submit">Actualizar</button>
                        </label>
                    </div>
                </form>
            </ion-content>
        </ion-tab>

        <ion-tab title="Direcciones" icon-on="ion-location" icon-off="ion-location">
            <ion-content has-header="true" padding="true" scroll="true" style="margin-top: {{marginTop}}">
                <div class="list">
                    <label class="item item-input item-select" ng-if="direcciones.length > 0">
                        <div class="input-label">
                            Direccion guardada
                        </div>
                        <select ng-change="recuperarDireccion()" ng-model="direccionSeleccionada" id="recuperar-direccion">
                            <option selected value="">Nueva...</option>
                            <option ng-repeat="direccion in direcciones" value="{{direccion.street}}">{{direccion.street}}</option>
                        </select>
                    </label>
                    <div class="item item-button-right">
                        Buscar en mapa
                        <button class="button button-balanced" ng-click="showModalMap()">
                            <i class="icon ion-map"></i>
                        </button>
                    </div>
                </div>

                <form id="formDireccion" ng-submit="doDireccion()">
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" name="estado" ng-model="direccionGuardada.location" placeholder="Estado">
                        </label>
                        <label class="item item-input">
                            <input type="text" name="calle" ng-model="direccionGuardada.street" placeholder="Calle">
                        </label>
                        <div class="row">
                            <div class="col">
                                <label class="item item-input">
                                    <input type="text" name="num_exterior" ng-model="direccionGuardada.exterior_number" placeholder="Num. Exterior">
                                </label>
                            </div>
                            <div class="col">
                                <label class="item item-input">
                                    <input type="text" name="num_interior" ng-model="direccionGuardada.interior_number" placeholder="Num. Interior">
                                </label>
                            </div>
                        </div>
                        <label class="item item-input">
                            <input type="text" name="codigo_postal" ng-model="direccionGuardada.postal_code" placeholder="Codigo postal">
                        </label>
                        <label class="item item-input">
                            <input type="text" name="delegacion_municipio" ng-model="direccionGuardada.delegation_municipaly" placeholder="Delegacion/Municipio">
                        </label>
                        <label class="item item-input" ng-show="colonias.length==0">
                            <input type="text" name="colonia" ng-model="direccionGuardada.colony" placeholder="Colonia">
                        </label>
                        <label class="item item-input item-select"  ng-if="colonias.length>1">
                            <div class="input-label">
                                Colonia
                            </div>
                            <select ng-model="direccionGuardada.colony">
                                <option ng-repeat="colonia in colonias" value="{{colonia}}" selected>{{colonia}}</option>
                            </select>
                        </label>
                        <label class="item">
                            <button class="button button-block button-balanced" type="submit">
                                <span  ng-show="!direccionGuardada.id">Guardar dirección</span>
                                <span  ng-show="direccionGuardada.id">Actualizar dirección</span>
                            </button>
                        </label>

                    </div>
                </form>
            </ion-content>
        </ion-tab>
        <ion-tab title="Ventas" icon-on="ion-ios-cart-outline" icon-off="ion-ios-cart-outline">
            <ion-content has-header="true" padding="true" style="margin-top: {{marginTop}}">
                <ion-list ng-repeat="pedido in pedidos">
                    <ion-item class="item-divider">
                        {{pedido.created | date }}
                        <span class="item-note">
                          {{pedido.total|currency:"$"}}
                        </span>
                    </ion-item>
                    <ion-item ng-repeat="detalle in pedido.detail_sales" class="item-thumbnail-left">
                        <img ng-src="{{detalle.product.image}}" ng-class="{ 'no-require-receta': detalle.product.recipe == 1, 'require-show-receta': detalle.product.recipe==2,  'require-receta': detalle.product.recipe==3}">
                        <h2>{{detalle.product.name}}</h2>
                        <p class="ion-item-categoria">
                            {{detalle.product.category.name}}
                        </p>
                        <p ng-show="detalle.product.recipe > 1" ng-class="{ 'require-receta': detalle.product.recipe > 1 }">Require receta</p>
                        <div class="row">
                            <div class="col col-50"></div>
                            <div class="col col-50 text-right">
                                <label class="balanced-bg padding color-blanco etiqueta-precio">{{detalle.quantity}}</label>
                                <i class="icon ion-android-close"></i>
                                <label class="balanced-bg padding color-blanco etiqueta-precio">{{detalle.total|currency:"$"}}</label>
                            </div>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>