<ion-view view-title="{{ title }}">
    <ion-content class="padding">
        <!--h3 class="text-center">{{categoria.name}}</h3-->
        <ion-list>
            <label class="item item-input item-select">
                <div class="input-label">
                  Filtrar
                </div>
                <select class="balanced">
                  <option>Mas vendidos</option>
                  <option selected>A-Z</option>
                </select>
            </label>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="buscar" ng-model="buscar">
            </label>
            <ion-item ng-repeat="producto in productos| orderBy:'nombre' | filter:buscar "
                      class="item-thumbnail-left" href="#/app/producto/{{producto.id}}">
                <img ng-src="{{producto.thumbnail}}" ng-class="{ 'require-receta': producto.require_receta, 'no-require-receta':!producto.require_receta }">
                <h2>{{producto.name}}</h2>
                <p class="ion-item-categoria">
                    {{producto.categoria.name}}
                </p>
                <p ng-show="producto.require_receta" ng-class="{ 'require-receta': producto.require_receta }">Require receta</p>
                <div class="row">
                    <div class="col col-50"></div>
                    <div class="col col-50 text-right">
                        <label class="assertive-bg padding color-blanco" ng-show="producto.descuento_dinero">{{producto.descuento_dinero|currency:"$"}}</label>
                        <label class="assertive-bg padding color-blanco" ng-show="producto.descuento_porcentaje">{{producto.descuento_porcentaje}}</label>
                        <label class="assertive-bg padding color-blanco" ng-show="producto.descuento_promocion">{{producto.descuento_promocion}}</label>
                        <label class="balanced-bg padding color-blanco etiqueta-precio">{{producto.precio|currency:"$"}}</label>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
