<ion-view view-title="Productos">
  <ion-content>
    <h3 class="text-center">{{categoria.name}}</h3>
    <ion-list>
      <label class="item item-input">
      	<i class="icon ion-search placeholder-icon"></i>
    	<input type="text" placeholder="buscar" ng-model="buscar">
      </label>
      <ion-item ng-repeat="producto in productos | orderBy:'nombre' | filter:buscar "
      	class="item-thumbnail-left">
      	<img ng-src="{{producto.thumbnail}}">
        <h2>{{producto.name}}</h2>
    	<p>
    		{{producto.categoria.name}}
    	</p>
    	<p ng-show="producto.require_receta">Require receta</p>
    	<div class="row">
		  <div class="col col-50"></div>
		  <div class="col">
		  	<span class="badge badge-assertive" ng-show="producto.descuento_dinero">{{producto.descuento_dinero|currency:"$"}}</span>
		  	<span class="badge badge-assertive"ng-show="producto.descuento_porcentaje">{{producto.descuento_porcentaje}}</span>
		  	<span class="badge badge-assertive" ng-show="producto.descuento_promocion">{{producto.descuento_promocion}}</span>
		  </div>
		  <div class="col">
		  	<button class="button button-small button-balanced">{{producto.precio|currency:"$"}}</button>
		  </div>
		</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
