<ion-view cache-view="false" view-title="{{ title }}">
    <ion-content class="padding">
        <ion-list class="card">
            <ion-item class="item-thumbnail-left">
                <img ng-src="{{producto.image}}" ng-class="{ 'no-require-receta': producto.recipe == 1, 'require-show-receta': producto.recipe==2,  'require-receta': producto.recipe==3}">
                <h2>{{producto.name}} - <span class="laboratorio">{{producto.laboratory.name}}</span></h2>
                <p class="ion-item-categoria">
                    {{producto.category.name}}
                </p>
            </ion-item>
            <ion-item class="item-body item-text-wrap">
                <p>
                    {{producto.description}}
                </p>
            </ion-item>
            <ion-item class="tabs tabs-secondary" style="height: 70px;">
                <div class="row">
                    <div class="col col-33">
                        Cantidad:
                    </div>
                    <div class="col">
                        <button ng-click="producto.quantity=producto.quantity-1"
                                ng-disabled="producto.quantity==1"
                                class="button button-clear button-block button-balanced"
                                style="margin: 0px;">
                            <i class="icon ion-minus-circled"></i>
                        </button>
                    </div>
                    <div class="col">
                        <input type="text" ng-change="mostrarTotal()" ng-model="producto.quantity"
                              style="width: 100%; border: 1px solid black; text-align:center; margin-top: 5px;"
                               readonly="readonly">
                    </div>
                    <div class="col">
                        <button ng-click="producto.quantity=producto.quantity+1"
                                ng-disabled="producto.quantity==producto.inventory"
                                class="button button-clear button-block button-balanced"
                                style="margin: 0px;">
                            <i class="icon ion-plus-circled"></i>
                        </button>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col col-offset-50 col-50 text-right">
                        <label class="assertive-bg padding color-blanco" ng-show="producto.discount.active_discount">{{producto.discount.short_name}}</label>
                        <label class="balanced-bg padding color-blanco">{{producto.price * producto.quantity |currency:"$"}}</label>
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-text-wrap" ng-show="producto.recipe > 1">
                <p class="text-center">
                    <label class="require-receta font-meddium" ng-show="producto.recipe == 3">Este producto require de receta medica.</label>
                    <br  ng-show="producto.recipe == 3"/>
                    <label class="require-receta font-meddium" ng-show="producto.recipe == 3">El repartidor te pedira y se quedara con la receta.</label><br/>
                    <label class="assertive font-meddium" ng-show="producto.recipe == 2">El repartidor te pedira que le muestres la receta.</label>
                </p>
            </ion-item>
        </ion-list>
        <button ng-click="addCarrito(producto)" class="button button-balanced button-block icon-right ion-android-cart">
            Agregar a Carrito
        </button>
    </ion-content>
</ion-view>
