<ion-view cache-view="false" view-title="{{ title }}">
    <ion-content class="padding">
        <!--h3 class="text-center">{{categoria.name}}</h3-->
        <ion-list>
            <label class="item item-input item-select"  ng-show="productos.length > 0">
                <div class="input-label">
                  Filtrar
                </div>
                <select class="balanced" ng-model="ordenar">
                  <!--option>Mas vendidos</option-->
                  <option value="name" selected>A-Z</option>
                  <option value="inventory">Por inventario</option>
                </select>
            </label>
            <label class="item item-input"  ng-show="productos.length > 0">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="buscar" ng-model="buscar">
            </label>
            <ion-item ng-repeat="producto in productos | filter:buscar | orderBy:ordenar "
                      class="item-thumbnail-left" href="#/app/producto/{{producto.id}}">
                <img ng-src="{{producto.image}}" ng-class="{ 'no-require-receta': producto.recipe == 1, 'require-show-receta': producto.recipe==2,  'require-receta': producto.recipe==3}">
                <h2>{{producto.name}} - <span class="laboratorio">{{producto.laboratory.name}}</span></h2>
                <p class="ion-item-categoria">
                    {{producto.category.name}}
                </p>
                <p ng-show="producto.recipe > 1" ng-class="{ 'require-receta': producto.recipe > 1 }">Require receta</p>
                <div class="row">
                    <div class="col col-50"></div>
                    <div class="col col-50 text-right">
                        <label class="assertive-bg padding color-blanco"  ng-show="producto.discount.active_discount">{{producto.discount.short_name}}</label>
                        <label class="balanced-bg padding color-blanco etiqueta-precio">{{producto.price|currency:"$"}}</label>
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-text-wrap" ng-show="productos.length == 0">
                <h2>Por el momento no contamos con este producto, contáctanos y estaremos encantados de conseguirlo para ti.</h2>
                <p class="ion-item-categoria">
                    resultados de busqueda
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
