<ion-view cache-view="false" view-title="Recetas">
    <ion-content class="has-header padding" ng-controller="ImageController">
        <div class="list card" ng-repeat="image in images">
            <div class="item item-image">
                <img ng-src="{{urlForImage(image)}}" />
            </div>

            <a class="item item-icon-left assertive" href="#" ng-click="eliminar(image)">
                <i class="icon ion-trash-a"></i>
                Eliminar
            </a>
        </div>
        <br><br>
        <button class="button button-full button-balanced" ng-click="addMedia()">
            Agregar imagen
        </button>
        <button class="button button-full button-positive" ng-click="realizarPago()">
            Siguiente
        </button>
    </ion-content>
</ion-view>
