<ion-view cache-view="false" view-title="Recordatorios">
    <ion-content has-header="true" padding="true" scroll="true">
        <ion-list>
            <ion-item ng-repeat="recordatorio in recordatorios| orderBy:'time'">
                <div class="list card">
                    <div class="item item-icon-left">
                        <i class="icon ion-clock"></i>
                        {{recordatorio.title}}
                    </div>
                    <div class="item item-body">
                        <p>
                            {{recordatorio.tiempo.hora}} : {{recordatorio.tiempo.minutos}} {{recordatorio.tiempo.horario}}
                        </p>
                        <p>
                            {{recordatorio.message}}
                        </p>
                        <p>
                            {{recordatorio.leyend}}
                        </p>
                    </div>
                    <div class="item">
                        <p>
                            <a href="#/app/edit/recordatorio/{{recordatorio.id}}" class="button button-balanced">Editar</a>
                            <a href="#"  ng-click="borrarRecordatorio(recordatorio)" class="button button-assertive">Eliminar</a>
                        </p>
                    </div>
                </div>
            </ion-item>
        </ion-list>

        <a class="button button-full button-balanced" href="#/app/add/recordatorio">
            Agregar recordatorio
        </a>
    </ion-content>
</ion-view>
