<ion-view cache-view="false" view-title="Recordatorios">
    <ion-content class="has-header padding">
        <ion-list>
            <ion-item href="#/app/recordatorios/{{recordatorio.id}}" ng-repeat="recordatorio in recordatorios">
                <h2>{{recordatorio.title}}</h2>
                <p>{{recordatorio.tiempo_12h.hora}} : {{recordatorio.tiempo_12h.minutos}} {{recordatorio.tiempo_12h.horario}} - {{recordatorio.leyend}}</p>
            </ion-item>
        </ion-list>
        <a class="button button-full button-balanced" href="#/app/add/recordatorio">
            Agregar recordatorio
        </a>
    </ion-content>
</ion-view>