<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Registrarse</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeRegister()">
      	<i class="icon ion-close-round"></i>
      </button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doRegister()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nombre</span>
          <input type="text" ng-model="userData.nombre">
        </label>
        <label class="item item-input">
          <span class="input-label">Apellido</span>
          <input type="text" ng-model="userData.apellido">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="userData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Celular</span>
          <input type="phone" ng-model="userData.celular">
        </label>
        <label class="item item-input">
          <span class="input-label">Contraseña</span>
          <input type="password" ng-model="userData.apellido">
        </label>
        <label class="item item-input">
          <span class="input-label">Repetir contraseña</span>
          <input type="password" ng-model="userData.repetir">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Registrar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>