<div class="bar bar-header bar-stable">
    <button class="button button-icon icon ion-arrow-left-c" ng-click="backInicio()"></button>
    <div class="h1 title">Registro</div>
</div>
<ion-view view-title="Registro">
    <ion-content class="has-header">
        <form id="formRegister" ng-submit="doRegister()">
            <div class="list">
                <label class="item item-input">
                    <input type="text" name="nombre" ng-model="userData.first_name" placeholder="Nombre">
                </label>
                <label class="item item-input">
                    <input type="text" name="apellido" ng-model="userData.last_name" placeholder="Apellido">
                </label>
                <label class="item item-input">
                    <input type="email" name="email" ng-model="userData.email" placeholder="Email">
                </label>
                <label class="item item-input">
                    <input type="tel" name="celular" ng-model="userData.cell" placeholder="Celular">
                </label>
                <label class="item item-input">
                    <input type="password" name="password" ng-model="userData.password" placeholder="Contraseña">
                </label>
                <label class="item item-input">
                    <input type="password" name="repetir" ng-model="userData.repetir" placeholder="Ingresa la contraseña de nuevo">
                </label>
                <label class="item">
                    <button class="button button-block button-balanced" type="submit">Registrar</button>
                </label>
                <p class="text-center">
                    Al crear una cuenta FARMAAPP, aceptas nuestros
                    <a class="button  button-clear button-balanced button-block" ng-click="showModalTerminos()">Términos, condiciones y políticas de privacidad.</a>
                </p>
            </div>
        </form>
    </ion-content>
</ion-view>