<ion-view title="Settings">
    <ion-tabs class="tabs-icon-top tabs-color-active-balanced">  
        <ion-tab title="Perfil" icon="ion-person" ui-sref="app.tabs.perfil">
            <ion-nav-view name="perfil-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Direcciones" icon="ion-location" ui-sref="app.tabs.direcciones">
            <ion-nav-view name="direcciones-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Ventas" icon="ion-ios-cart-outline" ui-sref="app.tabs.ventas">
            <ion-nav-view name="ventas-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
