# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
bower_components/
nbproject/
xdk/
.tmp
.sass-cache
*.swp
*.swo
*.log
*.DS_Store
.idea/
*.xdk_bak
*.xdke_bak
*.xdk
*.xdke
