/* Empty. Add your own CSS if you like */

.color-blanco{
    color: white;
}

.center{
	text-align: center;
}

.fondo-gris{
	background-color: #8791A7;
	color: white;
}

.iconos-inicio{
	font-size: 3em;
}

.iconos-inicio .icon-mini{
	font-size: .5em;
}

.img-logo{
	padding-top: 1em;
	width: 100%;
	margin: 0 auto;
}

.img-logo img{
	width: 50%;
}

.mayusculas{
    text-transform:  uppercase;
}

.titulo-app{
	font-size: 1.5em;
}

.text-white{
	color: white;
}

.texto-bienvenida{
	margin: 2em 0px;
	font-size: 1.2em;
}

.slogan-app{
	font-size: 1.2em;
	font-style: italic;
	font-weight: 400;
}

.list .item img.require-receta,
.list .item img.require-show-receta,
.list .item img.no-require-receta
{
    max-height: 80px;
    min-height: 80px;
    max-width: 80px;
    min-width: 80px;
}

.list .item img.require-receta{
	border: 3px solid red;
	border-radius: 5px;
    padding: 5px;
}

.list .item img.require-show-receta{
    border: 3px solid darkorange;
    border-radius: 5px;
    padding: 5px;
}

.list .item img.no-require-receta{
	border: 3px solid #2EC7C7;
	border-radius: 5px;
    padding: 5px;
}

.list .item .font-medium{
    font-size: .8em;
}

.list .item .require-receta{
    color: red;
}

.list .item .require-show-receta{
    color: darkorange;
}

.list .item p.ion-item-categoria{
    color: #2EC7C7;
}

.item-select-cantidad {
  width: 75%; /* Or whatever you'd like the width to be */
}

.item-select-cantidad select {
  right: 0;
}
.item-select-cantidad select.producto-cantidad{
  border: 1px solid #2EC7C7;
}

.row.border-bottom{
    border-bottom: 1px solid silver;
}

.row.border-top{
    border-top: 1px solid silver;
}

.list.card:last-child {
    margin-bottom: 0px;
}

.list .item label.font-small{
    font-size: .9em;
}

 .input-label.hideme-sm:before{
        content: 'Cantidad: ';
}

#mapa{
	width: 100%;
	height: 300px;
}

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}

@media only screen and (max-device-width: 480px){
    .item-select-cantidad {
        width: 100%;
    }
    .input-label.hideme-sm:before{
        font-size: .9em;
        content: 'Cant: ';
    }
}